fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
google-generativeai
google-genai
langchain
langchain-google-genai
pymupdf
python-multipart
python-dotenv
pytesseract
pillow
pdf2image
google-cloud-speech
google-cloud-texttospeech
python-Levenshtein
